.DS_Store
.metadata/
bin/
*~

/telecommunications-systems/click-2.0.1/*
!/telecommunications-systems/click-2.0.1/elements
/telecommunications-systems/click-2.0.1/elements/*
!/telecommunications-systems/click-2.0.1/elements/local
